<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<!--<script src="/img/jquery.autocomplete.js">
</script>-->

<script src="/js/jqueryautocomplete.js">
</script>
<style>
    #map {
        width: 100%;
        height: 580px;
        box-shadow: 5px 5px 5px #888;
    }
    
    div.collapse {
        width: 100%;
        margin: auto;
    }
    
    .leaflet-popup-content {
        width: auto !important;
    }
</style>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="form-group col-6 col-md-3">
            <label for="selectC">Circunscripción</label>
            <select class="form-control" id="selectC">
                
            <% for(var i=0;i<circunscripciones.length;i++){%>
            <option value='<%= i%>'><%= circunscripciones[i].nombre%></option>
            <% }%>
            </select>
        </div>
        <div class="form-group col-6 col-md-3">
            <label for="selectDistrito">Distrito</label>
            <select class="form-control" id="selectDistrito">
            <% for(var i=0;i<distritos.length;i++){%>
            <!--<option value='<%= i%>'><%= i%> :<%= distritos[i].nombre%></option>-->
            <% }%>
            </select>
        </div>
        <div class="form-group col-6 col-md-3">
            <label for="selectZona">Zona</label>
            <select class="form-control" id="selectZona">
            <% for(var i=0;i<zonas.length;i++){%>
            <!--<option value='<%= i%>'><%= i%> :<%= zonas[i].nombre%></option>-->
            <% }%>
            </select>
        </div>
        <div class="form-group col-6 col-md-3">
            <label for="selectRecinto">Recinto</label>
            <select class="form-control" id="selectRecinto">
            <% for(var i=0;i<recintos.length;i++){%>
            <option value='<%= recintos[i].id%>'><%= i%> :<%= recintos[i].nombre%></option>
            <% }%>
            </select>
        </div>
        <!--<div class="form-group col-6 col-md-8">
            <label for="inputBuscar">Recinto</label>
            <input class="form-control" type="text" id="inputBuscar" placeholder="BUSCAR RECINTO">
        </div>-->
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <label for="Documento de Identidad">Buscar Recinto</label>
            <input type="text" class="form-control" id="autocomplete" placeholder="Nombre del recinto">
        </div>
    </div>
    <br>

</div>

<div class="card border-primary">
    <h5 class="card-header">Mapa de Recintos</h5>
    <div class="card-body">

        <div id="map"></div>
    </div>
</div>

<div class="container">
    <table id="tablaRecinto" class="table">
        <thead>
            <th>MESA</th>
            <th>Votos Inscritos</th>
            <th>Votos Validos</th>
            <th>Votos Blancos</th>
            <th>Votos Nulos</th>
            <th>Votos Emitidos</th>

            <th> % Validos</th>
            <th> % Blancos</th>
            <th> % Nulos</th>
            <th> % Emitidos</th>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>




<script>
    // $('.collapse').collapse()
    // initialize the map
    // var map = L.map('map').setView([-16.43, -68.17], 13);
    var map = L.map('map', {
        center: [-16.504414, -68.125644],
        zoom: 13
    });
    var auxRecintos = <%- JSON.stringify(recintos) %>;
    var auxZonas = <%- JSON.stringify(zonas) %>;
    var auxDistritos = <%- JSON.stringify(distritos) %>;
    var auxCircunscripciones = <%- JSON.stringify(circunscripciones) %>;
    var marcas = [];
    console.log(auxRecintos)
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var firefoxIcon = L.icon({
        // iconUrl: 'http://joshuafrazier.info/images/firefox.svg',
        iconUrl: 'https://images.emojiterra.com/google/android-pie/512px/1f3e0.png',
        // iconUrl: 'https://quantitas.net/sites/default/files/00%20-%20Colegio.png',
        iconSize: [38, 38], // size of the icon
    });
    auxRecintos.forEach(function(recinto, index) {
        if (recinto.latitud != null || recinto.longitud != null) {
            var auxMarca = {};
            var sw = false;
            auxMarca['marca-' + recinto.id] = L.marker([recinto.latitud, recinto.longitud], {
                    icon: firefoxIcon
                }).on('click', function() {
                    if (sw) {
                        $('#info' + recinto.id).attr('hidden', false)
                    } {
                        $('#info' + recinto.id).attr('hidden', true)
                    }
                    sw = true
                })
                .addTo(map);
            // auxMarca['marca-' + recinto.id].bindPopup(
            //         '<div><p>' + recinto.nombre + '</p></div> '+
            //         '<div id="info' + recinto.id + '" class="card border-success">' +
            //         '<div class = "card-header" > Header </div> ' +
            //         '<div class = "card-body text-success" >' +
            //         '<h5 class = "card-title" > Success card title </h5>' +
            //         '<p class = "card-text" > Some quick example text to build on the card title and make up the bulk of the cards content.</p> </div> ' +
            //         '</div>', 
            //         {
            //             closeOnClick: false,
            //             autoClose: false
            //         }).openPopup()
            // var datoMesas = '';
            // recinto.mesas.forEach(function(mesa) {
            //     datoMesas = datoMesas + '<div class="col-12 col-md-3"><ul class="list-group">' +
            //         '<li class="list-group-item active"> Mesa : ' + mesa.nombre + '</li>' +
            //         '<li class="list-group-item d-flex justify-content-between align-items-center">Inscritos <span class="badge badge-primary badge-pill">' + mesa.inscritos + ' </span></li>' +
            //         '<li class="list-group-item d-flex justify-content-between align-items-center"> Votos Validos  <span class="badge badge-primary badge-pill">' + mesa.votosValidos + ' </span> </li>' +
            //         '<li class="list-group-item d-flex justify-content-between align-items-center"> Votos Blancos <span class="badge badge-primary badge-pill">' + mesa.votosBlancos + ' </span> </li>' +
            //         '<li class="list-group-item d-flex justify-content-between align-items-center">Votos Nulos  <span class="badge badge-primary badge-pill">' + mesa.votosNulos + ' </span></li>' +
            //         '<li class="list-group-item d-flex justify-content-between align-items-center">Total Emitidos <span class="badge badge-primary badge-pill">' + mesa.votosEmitidos + ' </span> </li>' +
            //         '</ul></div>';
            // })

            var sortMesas = recinto.mesas.sort(function(a, b) {
                // a must be equal to b
                return a.nombre - b.nombre;
            });

            var datoMesas = '';
            var totalInscritos = 0;
            var totalValidos = 0;
            var totalBlancos = 0;
            var totalNulos = 0;
            var totalEmitidos = 0;
            sortMesas.forEach(function(mesa) {

                totalInscritos = totalInscritos + parseInt(mesa.inscritos);
                totalValidos = totalValidos + parseInt(mesa.votosValidos);
                totalBlancos = totalBlancos + parseInt(mesa.votosBlancos);
                totalNulos = totalNulos + parseInt(mesa.votosNulos);
                totalEmitidos = totalEmitidos + parseInt(mesa.votosEmitidos);
                datoMesas = datoMesas + '<tr>' +
                    '<th>' + mesa.nombre + '</th>' +
                    '<th>' + mesa.inscritos + '</th>' +
                    '<th>' + mesa.votosValidos + '</th>' +
                    '<th>' + mesa.votosBlancos + '</th>' +
                    '<th>' + mesa.votosNulos + '</th>' +
                    '<th>' + mesa.votosEmitidos + '</th>' +
                    '<th>' + ((100 * mesa.votosValidos) / mesa.inscritos).toFixed(2) + '%</th>' +
                    '<th>' + ((100 * mesa.votosBlancos) / mesa.inscritos).toFixed(2) + '%</th>' +
                    '<th>' + ((100 * mesa.votosNulos) / mesa.inscritos).toFixed(2) + '%</th>' +
                    '<th>' + ((100 * mesa.votosEmitidos) / mesa.inscritos).toFixed(2) + '%</th>' +

                    '</tr>'

            })
            datoMesas = datoMesas + '<tr  class="table-primary">' +
                '<th>TOTAL </th>' +
                '<th>' + totalInscritos + '</th>' +
                '<th>' + totalValidos + '</th>' +
                '<th>' + totalBlancos + '</th>' +
                '<th>' + totalNulos + '</th>' +
                '<th>' + totalEmitidos + '</th>' +
                '<th>' + ((100 * totalValidos) / totalInscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * totalBlancos) / totalInscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * totalNulos) / totalInscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * totalEmitidos) / totalInscritos).toFixed(2) + '%</th>' +

                '</tr>';
            // console.log('DATO MESAS', datoMesas)


            var zona = auxZonas.filter(data => {
                    return data.id == recinto.idZona
                })
                // console.log('ZONA AAA', zona)
            var distrito = auxDistritos.filter(data => {
                return data.id == zona[0].idDistrito
            })
            var circunscripcion = auxCircunscripciones.filter(data => {
                return data.id == distrito[0].idCircunscripcion
            })

            var collapse = '<p  data-toggle="collapse" data-target="#collapse' + recinto.id + '"  aria-controls="collapse' + recinto.id + '">Recinto :' + recinto.nombre +

                '<div class="card">' +
                '<div id="collapse' + recinto.id + '" class="collapse" aria-labelledby="headingOne">' +
                ' <div class="card-body">' +
                'Circunscripcion: ' + circunscripcion[0].nombre + ' - ' + distrito[0].nombre + ' - Zona:' + zona[0].nombre +
                '<table class="table">' +
                '<thead>' +
                '<th>MESA</th>' +
                '<th>Inscritos</th>' +
                '<th>Votos Validos</th>' +
                '<th>Votos Blancos</th>' +
                '<th>Votos Nulos</th>' +
                '<th>Votos Emitidos</th>' +

                '<th> % Validos</th>' +
                '<th> % Blancos</th>' +
                '<th> % Nulos</th>' +
                '<th> % Emitidos</th>' +

                '</thead>' +
                '<tbody>' +
                datoMesas +
                '</tbody>' +
                ' </table>' +

                '</div>' +
                '</div>' +
                '</div>';
            // console.log('COLLAPSE', collapse)
            auxMarca['marca-' + recinto.id].bindPopup(
                    // '<div class=col-12 col-md-6>' +
                    // '<p  data-toggle="collapse" data-target="#collapse' + recinto.id + '"  aria-controls="collapse' + recinto.id + '">' + recinto.nombre +
                    // '</p>' +
                    // '<div  id="collapse' + recinto.id + '" class="collapse" aria-labelledby="headingOne" >' +
                    // '<table class="table">' +
                    // '<thead>' +
                    // '<th>MESA</th>' +
                    // '<th>Votos Inscritos</th>' +
                    // '<th>Votos Validos</th>' +
                    // '<th>Votos Blancos</th>' +
                    // '<th>Votos Nulos</th>' +
                    // '<th>Votos Emitidos</th>' +
                    // '</thead>' +
                    // '<tbody>' +
                    // datoMesas +
                    // '</tbody>' +
                    // ' </table>' +
                    // '</div>' +
                    // '</div>', 
                    collapse, {
                        closeOnClick: false,
                        autoClose: false,
                        // minWdth: '1000',
                        // maxWidth: '1000',
                        // autoPan: true,
                        // className: 'custom'
                    }).openPopup()
                // console.log("MARKA", auxMarca['marca-' + recinto.id])
        }


        $('#nombreRecinto' + index).click(function() {
            console.log("click Recinto")
            $('#info' + index).attr('hidden', false)
        });


    })

    var options = {
        data: auxRecintos,
        getValue: "nombre",
        list: {
            match: {
                enabled: true
            },
            onClickEvent: function() {
                var value = $("#autocomplete").getSelectedItemData().id;

                console.log("VALUE", value)
                $('#tablaRecinto > tbody').empty();
                var auxRecinto = auxRecintos.filter(data => {
                    return data.id == value
                })
                var recintoSeleccionado = auxRecinto[0]
                map.setView([recintoSeleccionado.latitud, recintoSeleccionado.longitud], 19);

                recintoSeleccionado.mesas.forEach(function(mesa, index) {
                    $('#tablaRecinto > tbody').append('<tr>' +
                        '<th>' + mesa.nombre + '</th>' +
                        '<th>' + mesa.inscritos + '</th>' +
                        '<th>' + mesa.votosValidos + '</th>' +
                        '<th>' + mesa.votosBlancos + '</th>' +
                        '<th>' + mesa.votosNulos + '</th>' +
                        '<th>' + mesa.votosEmitidos + '</th>' +
                        '</tr>')

                }, this);
            }
        },
        template: {
            type: "description",
            fields: {
                description: "id"
            }
        }
    };

    $("#autocomplete").easyAutocomplete(options);


    $('#selectRecinto').click(function() {
        $('#tablaRecinto > tbody').empty();
        var auxRecinto = auxRecintos.filter(data => {
            return data.id == $('#selectRecinto').val()
        })
        console.log('AUX RECINTO', auxRecinto)
        var recintoSeleccionado = auxRecinto[0]
        console.log('RECINTO SELECIONADO', recintoSeleccionado)
        map.setView([recintoSeleccionado.latitud, recintoSeleccionado.longitud], 19);
        var totalInscritos = 0;
        var totalValidos = 0;
        var totalBlancos = 0;
        var totalNulos = 0;
        var totalEmitidos = 0;
        recintoSeleccionado.mesas.forEach(function(mesa, index) {
            totalInscritos = totalInscritos + parseInt(mesa.inscritos);
            totalValidos = totalValidos + parseInt(mesa.votosValidos);
            totalBlancos = totalBlancos + parseInt(mesa.votosBlancos);
            totalNulos = totalNulos + parseInt(mesa.votosNulos);
            totalEmitidos = totalEmitidos + parseInt(mesa.votosEmitidos);
            $('#tablaRecinto > tbody').append('<tr>' +
                '<th>' + mesa.nombre + '</th>' +
                '<th>' + mesa.inscritos + '</th>' +
                '<th>' + mesa.votosValidos + '</th>' +
                '<th>' + mesa.votosBlancos + '</th>' +
                '<th>' + mesa.votosNulos + '</th>' +
                '<th>' + mesa.votosEmitidos + '</th>' +
                '<th>' + ((100 * mesa.votosValidos) / mesa.inscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * mesa.votosBlancos) / mesa.inscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * mesa.votosNulos) / mesa.inscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * mesa.votosEmitidos) / mesa.inscritos).toFixed(2) + '%</th>' +
                '</tr>')

        }, this);
        $('#tablaRecinto > tbody').append(
                '<tr  class="table-primary">' +
                '<th>TOTAL </th>' +
                '<th>' + totalInscritos + '</th>' +
                '<th>' + totalValidos + '</th>' +
                '<th>' + totalBlancos + '</th>' +
                '<th>' + totalNulos + '</th>' +
                '<th>' + totalEmitidos + '</th>' +
                '<th>' + ((100 * totalValidos) / totalInscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * totalBlancos) / totalInscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * totalNulos) / totalInscritos).toFixed(2) + '%</th>' +
                '<th>' + ((100 * totalEmitidos) / totalInscritos).toFixed(2) + '%</th>' +

                '</tr>'
            )
            // map.setZoom(16)
    });
    $('#selectC').change(function() {
        console.log('SelectVal', $('#selectC').val())
        var distritos = auxDistritos.filter(data => {
            return data.idCircunscripcion == auxCircunscripciones[$('#selectC').val()].id
        });
        $('#selectDistrito').empty();
        console.log('DISTRITOS', distritos)
        distritos.forEach(function(distrito) {
            $('#selectDistrito').append(
                '<option value="' + distrito.id + '"> ' + distrito.nombre + '</option>'
            )

        }, this);

    });
    $('#selectDistrito').change(function() {
        console.log('SelectVal', $('#selectDistrito').val())
        var zonas = auxZonas.filter(data => {
            return data.idDistrito == $('#selectDistrito').val()
        });
        $('#selectZona').empty();
        console.log('ZONAS', zonas)
        zonas.forEach(function(zona) {
            $('#selectZona').append(
                '<option value="' + zona.id + '"> ' + zona.nombre + '</option>'
            )

        }, this);

    });
    $('#selectZona').change(function() {
        console.log('SelectVal', $('#selectZona').val())
        var recintos = auxRecintos.filter(data => {
            return data.idZona == $('#selectZona').val()
        });
        $('#selectRecinto').empty();
        console.log('recintos', recintos)
        recintos.forEach(function(recinto) {
            $('#selectRecinto').append(
                '<option value="' + recinto.id + '"> ' + recinto.nombre + '</option>'
            )

        }, this);

    });
</script>