<br>
<br>
<br>
<br>



<div class="container">

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header" id="Total">Militantes Inscritos</div>
                <div class="card-body">
                    <h5 class="card-title">Número de militantes inscritos</h5>
                    <p class="card-text" id="inscritos">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Votos</div>
                <div class="card-body">
                    <h5 class="card-title"> Recinto :
                        <%= delegado.recintoDelegado%>
                    </h5>
                    <h5 class="card-title">Votos en la Mesa :
                        <%= delegado.mesaDelegado%>
                    </h5>
                    <p class="card-text" id="datoVoto1"></p>
                    <p class="card-text" id="datoVoto2"></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <form>

            </form>
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>




    <!--<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>-->
    <h3>
        <%= delegado.paterno%>
            <%= delegado.materno%>
                <%= delegado.nombre%>
    </h3>
    <h5>
        Recinto a cargo:
        <%= delegado.recintoDelegado%>

    </h5>
    <h5>
        Mesa a cargo:
        <%= delegado.mesaDelegado%>
    </h5>

    <input type="text" name="cedula" class="form-control" id="ci" aria-describedby="ciayuda" placeholder="Buscar por CI">


    <div id="militante"></div>
    <table class="table table-striped" id="tablaMilitantes">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Celular</th>
                <th scope="col">VOTACIÓN</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        var auxMilitantes = <%- JSON.stringify(militantes) %>
        console.log(auxMilitantes)

        auxMilitantes.forEach(function(militante, index) {
            $('#tablaMilitantes > tbody').append('<tr id="tr' + (index + 1) + '">' +
                '<th>' + (index + 1) + '</th>' +
                '<th>' + militante.paterno + ' ' + militante.materno + ' ' + militante.nombre + '</th>' +
                '<th>' + militante.cedula + '</th>' +
                '<th>' + militante.celular + '</th>' +
                '<th>' + '<div class="custom-control custom-switch">  <input type="checkbox" name="voto"  class="custom-control-input" id="voto' + (index + 1) + '"> <label class="custom-control-label" for="voto' + (index + 1) + '"></label> </div>' + '</th>' +
                '</tr>')
            $('#voto' + (index + 1)).attr('checked', militante.voto)
            $('#voto' + (index + 1)).click(function() {
                console.log($('#voto' + (index + 1)).prop('checked'))
                $.post("/militante/actualizarVoto", {
                        id: militante.id,
                        voto: $('#voto' + (index + 1)).prop('checked')
                    },
                    function(data, status) {
                        alert("Data: " + data + "\nStatus: " + status);
                    });
                console.log($('#voto' + (index + 1)).attr('checked', false))

                // $('#tablaMilitantes > tbody > #tr' + (index + 1)).remove()
            })
        }, this);

        $('#inscritos').text('TOTAL:' + auxMilitantes.length);
        var votosTrue = auxMilitantes.filter(auxVoto => auxVoto.voto == true);
        $('#datoVoto1').text('Asistencia: ' + votosTrue.length);
        $('#datoVoto2').text('Faltas: ' + (auxMilitantes.length - votosTrue.length));


        //$('#voto2').attr('checked', false)

        // console.log($('#voto1').val())
    </script>

</div>