<br>
<br>
<br>
<!--<h3>SUPER ADMIN 12</h3>-->
<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-md-2" style="background-color: #143a83;">


            <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">


                <a class="nav-link active" disabled id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">General</a>

                <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Distrito</a>


                <a class="nav-link " id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Zona</a>

                <a class="nav-link " id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Recinto</a>

            </div>

        </div>

        <main role="main" class="col-12 col-md-10">
            <br>
            <div class="row">

                <div class="col-6 col-md-6">
                    <div class="card border-success mb-3">
                        <div class="card-body ">
                            <div class="card-header">Total Votos</div>
                            <h5 class="card-title">Boca de Urna</h5>
                            <h6 class="card-title">
                                <% var totalBocaUrna =resultados.validos + resultados.blancos + resultados.nulos %>
                                    <% var porcentajeValidos = ((resultados.validos)*100)/totalBocaUrna %>
                                        <% var porcentajeNulos=((resultados.nulos)*100)/totalBocaUrna %>
                                            <% var porcentajeBlancos=((resultados.blancos)*100)/totalBocaUrna %>
                                                Válidos :
                                                <%= resultados.validos%> -
                                                    <%= porcentajeValidos%> %
                                                        <br> Nulos :
                                                        <%= resultados.nulos%> -
                                                            <%= porcentajeNulos%> %
                                                                <br> Blancos :
                                                                <%= resultados.blancos%> -
                                                                    <%= porcentajeBlancos%> %

                            </h6>
                            <h5 class="card-title">
                                TOTAL :
                                <%= totalBocaUrna%>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="card border-success mb-3">

                        <div class="card-body ">
                            <div class="card-header">Datos en Sistema</div>
                            <h5 class="card-title">Asistencias en Total</h5>
                            <h6 class="card-title">
                                Votos Marcado :
                                <%= resultados.asistencias%>
                                    Faltantes :
                                    <%= (84800-resultados.asistencias)%>
                            </h6>
                        </div>
                    </div>
                </div>

            </div>


            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>


            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">



                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                    <div id="spinner" class="spinner-border spinner-border-sm" role="status">
                        <!--<span class="sr-only">Loading...</span>-->
                    </div>
                    <h5>Militantes por distrito</h5>
                    <div class="form-group">
                        <label for="selectDistritos">Distritos La Paz</label>
                        <select class="form-control" id="selectDistritos">
                            <% for(var i =0;i< distritos.length;i++){%>
                                <option><%= distritos[i].id%> <%= distritos[i].nombre%></option>
                            <%}%>
                        </select>
                    </div>



                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div id="spinner2" class="spinner-border spinner-border-sm" role="status">
                    </div>
                    <h5>Militantes por Zona</h5>
                    <div class="form-group">
                        <label for="selectZonas">Zonas La Paz</label>
                        <select class="form-control" id="selectZonas">
                            <% for(var i =0;i< zonas.length;i++){%>
                                <option><%= zonas[i].id%> <%= zonas[i].nombre%></option>
                            <%}%>
                        </select>
                    </div>


                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div id="spinner3" class="spinner-border spinner-border-sm" role="status">
                    </div>
                    <h5>Militantes por Recinto</h5>
                    <div class="form-group">
                        <label for="selectRecinto">Recintos La Paz</label>
                        <select class="form-control" id="selectRecinto">
                            <% for(var i =0;i< recintos.length;i++){%>
                                <option><%= recintos[i].id%> <%= recintos[i].nombre%></option>
                            <%}%>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <div id="datosFiltro">

                    </div>
                </div>
                <div class="col-6">
                    <div id="datosFiltro2">

                    </div>
                </div>
            </div>


            <h4>Lista Militantes</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="tablaMilitantesDistrito">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NOMBRE</th>
                            <th>CEDULA</th>
                            <th>CELULAR</th>
                            <th>VOTO</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </main>

    </div>
    <script>
        $("#spinner").hide();
        $('#selectDistritos').change(function(event) {
            $('#datosFiltro').empty()
            $('#datosFiltro2').empty()

            var dato = $('#selectDistritos').val()
            var selectDato = dato.split(' ')
            console.log(selectDato);
            $("#spinner").show();
            $.get("/distrito/militantesPorDistritos/" + selectDato[0], function(response, status) {
                var datoDistritos = response.militantesDistrito
                var datoMesas = response.mesas
                $('#tablaMilitantesDistrito > tbody').empty();
                $("#spinner").hide();
                datoDistritos.forEach(function(militante, index) {
                    $('#tablaMilitantesDistrito > tbody').append('<tr id="tr' + (index + 1) + '">' +
                        '<th>' + (index + 1) + '</th>' +
                        '<th>' + militante.paterno + ' ' + militante.materno + ' ' + militante.nombre + '</th>' +
                        '<th>' + militante.cedula + '</th>' +
                        '<th>' + militante.celular + '</th>' +
                        '<th>' + '<div class="custom-control custom-switch">  <input type="checkbox" name="voto"  class="custom-control-input"  disabled id="voto' + (index + 1) + '"> <label class="custom-control-label" for="voto' + (index + 1) + '"></label> </div>' + '</th>' +
                        '</tr>')
                    $('#voto' + (index + 1)).attr('checked', militante.voto)

                }, this);
                var votosTrue = datoDistritos.filter(auxVoto => auxVoto.voto == true);
                $('#datosFiltro').append(
                    '<div class="card border-success mb-3">' +

                    ' <div class="card-body ">' +
                    '<div class="card-header">Datos en sistema del Recinto: ' + selectDato[1] + '</div>' +
                    '<h5 class="card-title">Asistencias en Total</h5>' +
                    '<h6 class="card-title">' +
                    'Marcados :' + votosTrue.length +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Faltas :' + (datoDistritos.length - votosTrue.length) +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Total :' + datoDistritos.length +
                    '</h6>' +
                    '</div>' +
                    '</div>'
                )
                var resultadosMesas = {
                    blancos: 0,
                    nulos: 0,
                    validos: 0
                }
                datoMesas.forEach(function(mesa) {
                    resultadosMesas.blancos = resultadosMesas.blancos + mesa.blancosBocaUrna
                    resultadosMesas.nulos = resultadosMesas.nulos + mesa.nulosBocaUrna
                    resultadosMesas.validos = resultadosMesas.validos + mesa.asistenciasBocaUrna
                }, this);
                $('#datosFiltro2').append(
                    '<div class="card border-success mb-3">' +

                    ' <div class="card-body ">' +
                    '<div class="card-header">Datos Boca de Urna en el recinto: ' + selectDato[1] + '</div>' +
                    '<h6 class="card-title">' +
                    'Blancos :' + resultadosMesas.blancos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Nulos :' + resultadosMesas.nulos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'EVO :' + resultadosMesas.validos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'TOTAL :' + (resultadosMesas.validos + resultadosMesas.nulos + resultadosMesas.blancos) +
                    '</h6>' +
                    '</div>' +
                    '</div>'
                )

            });
        });
        $("#spinner2").hide();
        $('#selectZonas').change(function(event) {
            $('#datosFiltro').empty()
            $('#datosFiltro2').empty()

            var dato = $('#selectZonas').val()
            var selectDato = dato.split(' ')
            console.log(selectDato);
            $("#spinner2").show();
            $.get("/distrito/militantesPorZonas/" + selectDato[0], function(response, status) {
                var datoZonas = response.militantesDistrito
                var datoMesas = response.mesas
                $('#tablaMilitantesDistrito > tbody').empty();
                $("#spinner2").hide();
                datoZonas.forEach(function(militante, index) {
                    $('#tablaMilitantesDistrito > tbody').append('<tr id="tr' + (index + 1) + '">' +
                        '<th>' + (index + 1) + '</th>' +
                        '<th>' + militante.paterno + ' ' + militante.materno + ' ' + militante.nombre + '</th>' +
                        '<th>' + militante.cedula + '</th>' +
                        '<th>' + militante.celular + '</th>' +
                        '<th>' + '<div class="custom-control custom-switch">  <input type="checkbox" name="voto"  class="custom-control-input"  disabled id="voto' + (index + 1) + '"> <label class="custom-control-label" for="voto' + (index + 1) + '"></label> </div>' + '</th>' +
                        '</tr>')
                    $('#voto' + (index + 1)).attr('checked', militante.voto)

                }, this);
                var votosTrue = datoZonas.filter(auxVoto => auxVoto.voto == true);
                $('#datosFiltro').append(
                    '<div class="card border-success mb-3">' +

                    ' <div class="card-body ">' +
                    '<div class="card-header">Datos en sistema del Recinto: ' + selectDato[1] + '</div>' +
                    '<h5 class="card-title">Asistencias en Total</h5>' +
                    '<h6 class="card-title">' +
                    'Marcados :' + votosTrue.length +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Faltas :' + (datoZonas.length - votosTrue.length) +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Total :' + datoZonas.length +
                    '</h6>' +
                    '</div>' +
                    '</div>'
                )
                var resultadosMesas = {
                    blancos: 0,
                    nulos: 0,
                    validos: 0
                }
                datoMesas.forEach(function(mesa) {
                    resultadosMesas.blancos = resultadosMesas.blancos + mesa.blancosBocaUrna
                    resultadosMesas.nulos = resultadosMesas.nulos + mesa.nulosBocaUrna
                    resultadosMesas.validos = resultadosMesas.validos + mesa.asistenciasBocaUrna
                }, this);
                $('#datosFiltro2').append(
                    '<div class="card border-success mb-3">' +

                    ' <div class="card-body ">' +
                    '<div class="card-header">Datos Boca de Urna en el recinto: ' + selectDato[1] + '</div>' +
                    '<h6 class="card-title">' +
                    'Blancos :' + resultadosMesas.blancos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Nulos :' + resultadosMesas.nulos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'EVO :' + resultadosMesas.validos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'TOTAL :' + (resultadosMesas.validos + resultadosMesas.nulos + resultadosMesas.blancos) +
                    '</h6>' +
                    '</div>' +
                    '</div>'
                )

            });
        });


        $("#spinner3").hide();
        $('#selectRecinto').change(function(event) {
            $('#datosFiltro').empty()
            $('#datosFiltro2').empty()
            var dato = $('#selectRecinto').val()
            var selectDato = dato.split(' ')
            console.log(selectDato);
            $("#spinner3").show();
            $.get("/distrito/militantesPorRecintos/" + selectDato[0], function(response, status) {
                var datoRecintos = response.militantesDistrito
                var datoMesas = response.mesas
                $('#tablaMilitantesDistrito > tbody').empty();
                $("#spinner3").hide();
                datoRecintos.forEach(function(militante, index) {
                    $('#tablaMilitantesDistrito > tbody').append('<tr id="tr' + (index + 1) + '">' +
                        '<th>' + (index + 1) + '</th>' +
                        '<th>' + militante.paterno + ' ' + militante.materno + ' ' + militante.nombre + '</th>' +
                        '<th>' + militante.cedula + '</th>' +
                        '<th>' + militante.celular + '</th>' +
                        '<th>' + '<div class="custom-control custom-switch">  <input type="checkbox" name="voto"  class="custom-control-input"  disabled id="voto' + (index + 1) + '"> <label class="custom-control-label" for="voto' + (index + 1) + '"></label> </div>' + '</th>' +
                        '</tr>')
                    $('#voto' + (index + 1)).attr('checked', militante.voto)

                }, this);
                var votosTrue = datoRecintos.filter(auxVoto => auxVoto.voto == true);
                $('#datosFiltro').append(
                    '<div class="card border-success mb-3">' +

                    ' <div class="card-body ">' +
                    '<div class="card-header">Datos en sistema del Recinto: ' + selectDato[1] + '</div>' +
                    '<h5 class="card-title">Asistencias en Total</h5>' +
                    '<h6 class="card-title">' +
                    'Marcados :' + votosTrue.length +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Faltas :' + (datoRecintos.length - votosTrue.length) +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Total :' + datoRecintos.length +
                    '</h6>' +
                    '</div>' +
                    '</div>'
                )
                var resultadosMesas = {
                    blancos: 0,
                    nulos: 0,
                    validos: 0
                }
                datoMesas.forEach(function(mesa) {
                    resultadosMesas.blancos = resultadosMesas.blancos + mesa.blancosBocaUrna
                    resultadosMesas.nulos = resultadosMesas.nulos + mesa.nulosBocaUrna
                    resultadosMesas.validos = resultadosMesas.validos + mesa.asistenciasBocaUrna
                }, this);
                $('#datosFiltro2').append(
                    '<div class="card border-success mb-3">' +

                    ' <div class="card-body ">' +
                    '<div class="card-header">Datos Boca de Urna en el recinto: ' + selectDato[1] + '</div>' +
                    '<h6 class="card-title">' +
                    'Blancos :' + resultadosMesas.blancos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'Nulos :' + resultadosMesas.nulos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'EVO :' + resultadosMesas.validos +
                    '</h6>' +
                    '<h6 class="card-title">' +
                    'TOTAL :' + (resultadosMesas.validos + resultadosMesas.nulos + resultadosMesas.blancos) +
                    '</h6>' +
                    '</div>' +
                    '</div>'
                )

            });
        });
    </script>